In [4]:
'''
2048 GAME PROJECT: Simple analysis of the DB data using pandas.

Date created:
    04/2022

Author:
    Filip J. Cierkosz
'''

import pandas as pd
import sqlite3

In [10]:
# Connect with the DB and create a dataframe for it.
db = sqlite3.connect('./scores.db')
df = pd.read_sql_query("SELECT * FROM scores", db)

In [11]:
# Display the first 3 records.
df.head(3)

   id  grid_size  score  time_played_sec              date_played
0   0          3      8         2.498051  06 Mar 2022 09:35:18 PM
1   1          3      8         3.119032  06 Mar 2022 09:35:55 PM
2   2          3     32        37.503346  06 Mar 2022 09:36:42 PM

In [12]:
# Display the last 3 records.
df.tail(3)

      id  grid_size  score  time_played_sec              date_played
111  111          4    256       342.942427  02 Apr 2022 02:21:31 PM
112  112          4    512      1314.926037  02 Apr 2022 02:45:19 PM
113  113          4    512       683.041038  02 Apr 2022 02:56:59 PM

In [15]:
# Calculate the average score for all grids.
df['score'].mean()

146.35087719298247